# 1)Manipulate Using a list

In [2]:
list=[123,345,22,'charan']
list

[123, 345, 22, 'charan']

In [3]:
# A)To add new elements to the end of the list
list.append(43)
list

[123, 345, 22, 'charan', 43]

In [4]:
# B)To reverse element  in the list
list.reverse()
print('Reversed list:\n\n',list)

Reversed list:

 [43, 'charan', 22, 345, 123]

In [6]:
# C)To display the same list of elements multiple times
list='veera '
new_list = 3*list
print(new_list)

veera veera veera

In [7]:
# D)To concatenate two list
list1=[43,33,22]
list2=[345,123,55]
list1.extend(list2)
print(list1)

[43, 33, 22, 345, 123, 55]

In [ ]:
list1

In [8]:
#E)To sort the elements in the list in ascending order
list1.sort()
list1

[22, 33, 43, 55, 123, 345]

#  2)Write a Python program to do in tuples

In [9]:
# A)Manipulating using tuples
tuple=(22,33,44,55)
tuple1=tuple+(66,777)
print(tuple1)

(22, 33, 44, 55, 66, 777)

In [10]:
# B)To add new elements to the end of the tuples
tuple += (23,45)
print(tuple)

(22, 33, 44, 55, 23, 45)

In [11]:
# C)To reserve elements in the list
tuple =tuple[::-1]
tuple

(45, 23, 55, 44, 33, 22)

In [12]:
#D)To display the elements of the same tuple multiple times
tup=3*tuple
tup

(45, 23, 55, 44, 33, 22, 45, 23, 55, 44, 33, 22, 45, 23, 55, 44, 33, 22)

In [13]:
#E)To concatenate two tuples
tup1 =(23,45,77)
tup2=(99,55,49)
res=tup1+tup2
print(str(res))

(23, 45, 77, 99, 55, 49)

In [14]:
#F)To sort the elements in the list in ascending order
tuple=sorted(tuple)
print(tuple)

[22, 23, 33, 44, 45, 55]

#  3)Write a program to implement the following using list

In [15]:
#A)create a list with integers(minimum 10 numpers)
list =(12,23,34,45,56,67,78,89,90,98,87,76,65,55)
list

(12, 23, 34, 45, 56, 67, 78, 89, 90, 98, 87, 76, 65, 55)

In [16]:
#B)How to display the last number in the list
print(list[-1])

55

In [17]:
#C)Command for displaying the value from the list[0:4]
print(list[0:4])

(12, 23, 34, 45)

In [18]:
#D)Command for displaying the value from the list[2:]
print(list[2:])

(34, 45, 56, 67, 78, 89, 90, 98, 87, 76, 65, 55)

In [19]:
#E)Command for displaying the value from the list[:6]
print(list[:6])

(12, 23, 34, 45, 56, 67)

#  4)Write a Python Program: tuple1=(10,50,20,40,30)

In [20]:
tuple1=(10,50,20,40,30)
print(tuple1)

(10, 50, 20, 40, 30)

In [27]:
#A)To dispaly the elements 10 and 50 from tuple1
tuple1=(10,50,20,40,30)
print(tuple1[0],tuple1[1])

10 50

In [22]:
#B)To display the length of a tuple1
print(len(tuple1))

5

In [23]:
#C)To find the minimum element from tuple1
print(min(tuple1))

10

In [24]:
#D)To add all elements in the tuple1
print(sum(tuple1))

150

In [25]:
#E)To display the same tuple1 multiple times
print(2*(tuple1))

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

#  5)Write a Python program

In [26]:
s="VEERA CHARAN "
print(s)

VEERA CHARAN

In [28]:
#A)To calculate the length of string
print(len(s))

13

In [29]:
#B)To reverse worde in a string
print(s[::-1])

 NARAHC AREEV

In [83]:
#C)To display the same string multiple times
print (3*s)

VEERA CHARAN VEERA CHARAN VEERA CHARAN

In [86]:
#D)To Concatenate two strings
s= "VEERA CHARAN "
s1= "NARAPURAM "
print(s+s1)

VEERA CHARAN NARAPURAM

In [87]:
#E)Str1=" South India",using string siling to display "India"
Str1= "South India"
print(Str1[6:])

India

# 6) Perform the following

In [90]:
#A)Creating the dictionary
dic ={ 'name':'Veera', 'age':'23', 'city':'Kadapa' }
print(dic)

{'name': 'Veera', 'age': '23', 'city': 'Kadapa'}

In [91]:
#B)Accessing value and keys in the dictionary
print("NAME:", dic['name'])

NAME: Veera

In [ ]:
#C)Updating the dictionary using a function
dic['age'] = 20
print(dic)

In [ ]:
#D)clear and delet the dictionary values
dic.clear()
print(dic)

# 7)Python porgram to insert a number to any position in a list

In [31]:
list=[22,34,42,12,54]
number = 87
position = 3
list.insert(position, number)
print(list)

[22, 34, 42, 87, 12, 54]

# 8)Python program to delete an element from a list by index

In [32]:
index = 5
del list[index]
print(list)

[22, 34, 42, 87, 12]

# 9)write a program to display a number from 1 to 100

In [33]:
for numbers in range(1,100):
    print(numbers)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# 10)write a Python program to find the sum of all items in a tuple

In [34]:
tuple=(21,12,4,6,19)
print(sum(tuple))

62

# 11.Create a dictionary containing three lambda functions square,cube and square root. a).eg: dict ={'Square':function for squaring, 'cube':function for cube, 'square root':function for square root} b).Pass the values (input from the user to the function for the dictinoary respectively. c).Then add the outputs of each function and print it

In [23]:
functions = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Square Root': lambda x: x ** 0.5,
}
results = {}
for func_name, func in functions.items():
    value = float(input(f'Enter a value for {func_name}: '))
    results[func_name] = func(value)
total = sum(results.values())
print('Results:')
for func_name, result in results.items():
    print(f'{func_name}: {result}')
print('Total of all results:', total)

Enter a value for Square: 6
Enter a value for Cube: 40
Enter a value for Square Root: 24
Results:
Square: 36.0
Cube: 64000.0
Square Root: 4.898979485566356
Total of all results: 64040.898979485566

# 12)A list of words is given . Find the words from the list that have their second character in uppercase

In [37]:
ls=['hello' ,'Dear' ,'hOw' ,'ARe' ,'You' ]
res = [word for word in ls if word[1].isupper()]
print(res)

['hOw', 'ARe']

# 13.A dictionary of names and their weights on earth is given.Find how much they will weigh on the moon.(Use map and lambda functions)Formula:wMoon = (wEarth*GMoon)/GEarth a). Weight of the people in kg * WeightOnEarth = {'John':45,'Shelly':65, 'Marry':35} b).Gravitational force on the moon : 1.622 m/s2 * GMoon = 1.622 c).Gravitational force on the Earth : 9.81m/s2 * GEarth = 9.81

In [21]:
weight_on_earth = {'John': 45, 'Shelly': 65, 'Marry': 35}
g_moon = 1.622
g_earth = 9.81
weight_on_moon = {name: (weight * g_moon) / g_earth for name, weight in weight_on_earth.items()}
print('Weight on the Moon:')
for name, weight in weight_on_moon.items():
    print(f'{name}: {weight:.2f} kg')

Weight on the Moon:
John: 7.44 kg
Shelly: 10.75 kg
Marry: 5.79 kg

# Control Structures

# 1)Write a Python program to find the first N Prime number

In [3]:
N = int(input('Enter the value of N: '))
count = 0
num = 2

while count < N:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if (num % i) == 0:
            is_prime = False
            break
    if is_prime:
        print(num)
        count += 1
    num += 1

Enter the value of N: 15
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# 2)Write the python code that calculates the salary of an employee.Prompt the user to enter the Basic Salary,HRA,TA, and Da. Add these components to calculate the Gross Salary.Also,deduct10% of salary from the gross salary to be paid as tax and display gross minus tax as net salary."""

In [4]:
basic_salary = float(input('Enter the Basic Salary: '))
hra = float(input('Enter the HRA: '))
ta = float(input('Enter the TA: '))
da = float(input('Enter the DA: '))
gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax
print(f'Gross Salary: {gross_salary:.2f}')
print(f'Tax Deduction (10%): {tax:.2f}')
print(f'Net Salary: {net_salary:.2f}')

Enter the Basic Salary: 500000
Enter the HRA: 2000
Enter the TA: 4000
Enter the DA: 2000
Gross Salary: 508000.00
Tax Deduction (10%): 50800.00
Net Salary: 457200.00

# 3) Write a python program to search for a string in the givrn list

In [7]:
string_list = ['Veera', 'charan', 'cherry', 'Amma', 'akka']
search_string = input('Enter a string to search for: ')
found = False
for item in string_list:
    if search_string.lower() == item.lower():
        found = True
        break
if found:
    print(f'{search_string} was found in the list.')
else:
    print(f'{search_string} was not found in the list.')

Enter a string to search for: amma
amma was found in the list.

# 4.Write a Python function that accepts a string and calculate the number of upper-case letters and lower-case letters

In [19]:
def count_upper_lower_letters(input_string):
    upper_count = sum(1 for char in input_string if char.isupper())
    lower_count = sum(1 for char in input_string if char.islower())
    return upper_count, lower_count
input_string = input('Enter a string: ')
upper_count, lower_count = count_upper_lower_letters(input_string)
print(f'Number of uppercase letters: {upper_count}')
print(f'Number of lowercase letters: {lower_count}')

Enter a string: NARAPUram
Number of uppercase letters: 6
Number of lowercase letters: 3

# 5.Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [4]:
sum_even = 0
sum_odd = 0
a=int(input())
b=int(input())
for num in range(a,b):
    if num % 2 == 0:  
        sum_even += num
    else:
        sum_odd += num
print(f'Sum of even numbers between a and b: {sum_even}')
print(f'Sum of odd numbers between a and b: {sum_odd}')

12
37
Sum of even numbers between a and b: 312
Sum of odd numbers between a and b: 288

# 6.Write a python program to print the table of any number

In [5]:
number = int(input("Enter a number: "))
print(f"Multiplication table for {number} up to 10:")
for i in range(1, 10+ 1):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number: 5
Multiplication table for 5 up to 10:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 7.Write a python program to sum the first 10 prime numbers

In [6]:
count = 0
num = 2
prime_sum = 0
while count < 10:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_sum += num
        count += 1
    num += 1
print(f'The sum of the first 10 prime numbers is: {prime_sum}')

The sum of the first 10 prime numbers is: 129

# 8.Write a python program to implement arithmetic operations using nested if statement

In [11]:
num1 = float(input('Enter the first number: '))
num2 = float(input('Enter the second number: '))
operation = input('Enter the operation (+, -, *, /): ')
if operation == '+':
    result = num1 + num2
    print(f'{num1} + {num2} = {result}')
elif operation == '-':
    result = num1 - num2
    print(f'{num1} - {num2} = {result}')
elif operation == '*':
    result = num1 * num2
    print(f'{num1} * {num2} = {result}')
elif operation == '/':
    if num2 == 0:
        print('Error! Division by zero is not allowed.')
    else:
        result = num1 / num2
        print(f'{num1} / {num2} = {result}')
else:
    print('Invalid operation. Please enter +, -, *, or /.')

Enter the first number: 6669
Enter the second number: 554
Enter the operation (+, -, *, /): -
6669.0 - 554.0 = 6115.0

# 9.Write a python program to take the temperature in celsius and convert it to fahrenheit

In [13]:
celsius = float(input(' temp in Celsius: '))
fahrenheit = (celsius * 9/5) + 32
print(f'{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit')

 temp in Celsius: 180
180.0 degrees Celsius is equal to 356.0 degrees Fahrenheit

# 10.Write a python program to find a maximum and minimum number

In [18]:
num = [55,88,9987,84858,665,478,855778,554,77,888]
maximum_number = max(num)
minimum_number = min(num)
print('Maximum number:', maximum_number)
print('Minimum number:', minimum_number)

Maximum number: 855778
Minimum number: 55

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day ,60 minutes per day,60 seconds in a minute

In [25]:
days= 30
hours= 24
minutes= 60
seconds= 60
total= days* hours* minutes *seconds
print(f'seconds in a 30-day month is: {total}')

seconds in a 30-day month is: 2592000

# 12.Write a program in python to print out the number of seconds in a year

In [37]:
days= 365
hours= 24
minutes = 60
seconds = 60
total= days * hours * minutes * seconds
print(f'The number of seconds in a year : {total}')

The number of seconds in a year : 31536000

# 13. A high-speed train can travel at an average speed of 150mph, how long will it take a train travelleing at this speed to travel from london to glasgow which which is 414 miles away

In [40]:
speed = 150
distance = 414
time_hours = distance / speed
print(f'take {time_hours} hours to travel from London to Glasgow at an average speed of 150 mph.')

take 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

# 14.write a python program  that defines a variable  called days_in_each_school_year and assign 192 to the variable.The program should then print out the total hour that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [41]:
days_in_each_school_year = 192
total_school_days = (11 - 7 + 1) * days_in_each_school_year
hours_per_day = 6
total_hours_in_school = total_school_days * hours_per_day
print(f'Total hours spent in school from year 7 to year 11: {total_hours_in_school} hours')

Total hours spent in school from year 7 to year 11: 5760 hours

# 15.If the age of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and eldest and youngest of the three

In [42]:
ram_age = int(input('Enter the age of Ram: '))
sam_age = int(input('Enter the age of Sam: '))
khan_age = int(input('Enter the age of Khan: '))
if ram_age > sam_age and ram_age > khan_age:
    eldest = 'Ram'
elif sam_age > ram_age and sam_age > khan_age:
    eldest = 'Sam'
else:
    eldest = 'Khan'
if ram_age < sam_age and ram_age < khan_age:
    youngest = 'Ram'
elif sam_age < ram_age and sam_age < khan_age:
    youngest = 'Sam'
else:
    youngest = 'Khan'
print(f'The eldest person is {eldest} with an age of {max(ram_age, sam_age, khan_age)} years.')
print(f'The youngest person is {youngest} with an age of {min(ram_age, sam_age, khan_age)} years.')

Enter the age of Ram: 25
Enter the age of Sam: 21
Enter the age of Khan: 54
The eldest person is Khan with an age of 54 years.
The youngest person is Sam with an age of 21 years.

# 16.Write a python program to rotate a list by right n times with and with out slicing technique.

In [43]:
def rotate_slicing(input_list, n):
    if not input_list:
        return input_list
    n = n % len(input_list)
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list
my_list = [1, 2, 3, 4, 5]
rotation_count = int(input('Enter the number  within range of list length:'))
rotated_list = rotate_slicing(my_list, rotation_count)
print('Rotated list using slicing:', rotated_list)
def rotate_without_slicing(input_list, n):
    if not input_list:
        return input_list
    n = n % len(input_list)  
    rotated_list = [None] * len(input_list)
    for i in range(len(input_list)):
        rotated_list[(i + n) % len(input_list)] = input_list[i]
    return rotated_list
my_list = [1, 2, 3, 4, 5]
rotation_count = int(input('Enter the number  within range of list length:'))
rotated_list = rotate_without_slicing(my_list, rotation_count)
print('Rotated list without slicing:', rotated_list)

Enter the number  within range of list length:5
Rotated list using slicing: [1, 2, 3, 4, 5]
Enter the number  within range of list length:6
Rotated list without slicing: [5, 1, 2, 3, 4]

# 17.Python program to print the patterns given below:

In [64]:
n=int(input())
for i in range(n):
    print(''*(n-i),end='')
    print(' '.join(map(str,str(11**i))))

7

TypeError: 'str' object is not callable

In [53]:
n=int(input())
myList = []
for i in range(1,n+1):
  myList.append("* "*i)
print("\n".join(myList))

5
*
* *
* * *
* * * *
* * * * *

In [48]:
n = int(input())
k = n-1
for i in range(0,n):
  for j in range(0,k):
    print(end=" ")
  k=k-1
  for j in range(0,i+1):
    print("* ",end="")
  print("\r")

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [49]:
str=input("enter the string:")
len=len(str)
for i in range(len):
  for j in range(i+1):
    print(str[j],end="")
  print()

enter the string:python
p
py
pyt
pyth
pytho
python