# Manipulate Using a list

In [1]:
list=[123,345,22,'charan']
list

[123, 345, 22, 'charan']

In [2]:
# To add new elements to the end of the list
list.append(43)
list

[123, 345, 22, 'charan', 43]

In [3]:
# To reverse element  in the list
list.reverse()
print('Reversed list:\n\n',list)

Reversed list:

 [43, 'charan', 22, 345, 123]

In [13]:
# To display the same list of elements multiple times
list='veera '
new_list = 3*ls
print(new_list)

veera veera veera

In [16]:
# To concatenate two list
list1=[43,33,22]
list2=[345,123,55]
list1.extend(list2)
print(list1)

[43, 33, 22, 345, 123, 55]

In [11]:
list1

[43, 33, 22, 345, 123, 55]

In [12]:
#To sort the elements in the list in ascending order
list1.sort()
list1

[22, 33, 43, 55, 123, 345]

# Write a Python program to do in tuples

In [48]:
# Manipulating using tuples
tuple=(22,33,44,55)
tuple1=tuple+(66,777)
print(tuple1)

(22, 33, 44, 55, 66, 777)

In [49]:
# To add new elements to the end of the tuples
tuple += (23,45)
print(tuple)

(22, 33, 44, 55, 23, 45)

In [50]:
# To reserve elements in the list
tuple =tuple[::-1]
tuple

(45, 23, 55, 44, 33, 22)

In [54]:
#To display the elements of the same tuple multiple times
tup=3*tuple
tup

[22, 23, 33, 44, 45, 55, 22, 23, 33, 44, 45, 55, 22, 23, 33, 44, 45, 55]

In [42]:
#To concatenate two tuples
tup1 =(23,45,77)
tup2=(99,55,49)
res=tup1+tup2
print(str(res))

(23, 45, 77, 99, 55, 49)

In [52]:
#To sort the elements in the list in ascending order
tuple=sorted(tuple)
print(tuple)

[22, 23, 33, 44, 45, 55]

# Write a program to implement the following using list

In [55]:
#create a list with integers(minimum 10 numpers)
list =(12,23,34,45,56,67,78,89,90,98,87,76,65,55)
list

(12, 23, 34, 45, 56, 67, 78, 89, 90, 98, 87, 76, 65, 55)

In [56]:
#How to display the last number in the list
print(list[-1])

55

In [57]:
#Command for displaying the value from the list[0:4]
print(list[0:4])

(12, 23, 34, 45)

In [58]:
#Command for displaying the value from the list[2:]
print(list[2:])

(34, 45, 56, 67, 78, 89, 90, 98, 87, 76, 65, 55)

In [59]:
#Command for displaying the value from the list[:6]
print(list[:6])

(12, 23, 34, 45, 56, 67)

# Write a Python Program: tuple1=(10,50,20,40,30)

In [60]:
tuple1=(10,50,20,40,30)
print(tuple1)

(10, 50, 20, 40, 30)

In [ ]:
#To dispaly the elements 10 and 50 from tuple1
tuple1=(10,50,20,40,30)
star = 10
end = 50

In [61]:
#To display the length of a tuple1
print(len(tuple1))

5

In [62]:
#To find the minimum element from tuple1
print(min(tuple1))

10

In [63]:
#To add all elements in the tuple1
print(sum(tuple1))

150

In [64]:
#To display the same tuple multiple times
print(2*(tuple1))

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# Write a Python program

In [81]:
s="VEERA CHARAN "
print(s)

VEERA CHARAN

In [69]:
#To calculate the length of string
print(len(s))

12

In [71]:
#To reverse worde in a string
print(s[::-1])

NARAHC AREEV

In [83]:
#To display the same string multiple times
print (3*s)

VEERA CHARAN VEERA CHARAN VEERA CHARAN

In [86]:
#To Concatenate two strings
s= "VEERA CHARAN "
s1= "NARAPURAM "
print(s+s1)

VEERA CHARAN NARAPURAM

In [87]:
#Str1=" South India",using string siling to display "India"
Str1= "South India"
print(Str1[6:])

India

# Perform the following

In [90]:
#Creating the dictionary
dic ={ 'name':'Veera', 'age':'23', 'city':'Kadapa' }
print(dic)

{'name': 'Veera', 'age': '23', 'city': 'Kadapa'}

In [91]:
#Accessing value and keys in the dictionary
print("NAME:", dic['name'])

NAME: Veera

In [94]:
#Updating the dictionary using a function
dic['age'] = 20
print(dic)

{'name': 'Veera', 'age': 20, 'city': 'Kadapa'}

In [96]:
#clear and delet the dictionary values
dic.clear()
print(dic)

{}

In [97]:
#Python porgram to insert a number to any position in a list
list=[22,34,42,12,54]
number = 87
position = 3
list.insert(position, number)
print(list)

[22, 34, 42, 87, 12, 54]

In [98]:
#Python program to delete an element from a list by index
index = 5
del list[index]
print(list)

[22, 34, 42, 87, 12]

In [101]:
#write a program to display a number from 1 to 100
for numbers in range(1,100):
    print(numbers)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [102]:
#write a Python program to find the sum of all items in a tuple
tuple=(21,12,4,6,19)
print(sum(tuple))

62