# 1)Manipulate Using a list

In [2]:
list=[123,345,22,'charan']
list

[123, 345, 22, 'charan']

In [3]:
# A)To add new elements to the end of the list
list.append(43)
list

[123, 345, 22, 'charan', 43]

In [4]:
# B)To reverse element  in the list
list.reverse()
print('Reversed list:\n\n',list)

Reversed list:

 [43, 'charan', 22, 345, 123]

In [6]:
# C)To display the same list of elements multiple times
list='veera '
new_list = 3*list
print(new_list)

veera veera veera

In [7]:
# D)To concatenate two list
list1=[43,33,22]
list2=[345,123,55]
list1.extend(list2)
print(list1)

[43, 33, 22, 345, 123, 55]

In [ ]:
list1

In [8]:
#E)To sort the elements in the list in ascending order
list1.sort()
list1

[22, 33, 43, 55, 123, 345]

#  2)Write a Python program to do in tuples

In [9]:
# A)Manipulating using tuples
tuple=(22,33,44,55)
tuple1=tuple+(66,777)
print(tuple1)

(22, 33, 44, 55, 66, 777)

In [10]:
# B)To add new elements to the end of the tuples
tuple += (23,45)
print(tuple)

(22, 33, 44, 55, 23, 45)

In [11]:
# C)To reserve elements in the list
tuple =tuple[::-1]
tuple

(45, 23, 55, 44, 33, 22)

In [12]:
#D)To display the elements of the same tuple multiple times
tup=3*tuple
tup

(45, 23, 55, 44, 33, 22, 45, 23, 55, 44, 33, 22, 45, 23, 55, 44, 33, 22)

In [13]:
#E)To concatenate two tuples
tup1 =(23,45,77)
tup2=(99,55,49)
res=tup1+tup2
print(str(res))

(23, 45, 77, 99, 55, 49)

In [14]:
#F)To sort the elements in the list in ascending order
tuple=sorted(tuple)
print(tuple)

[22, 23, 33, 44, 45, 55]

#  3)Write a program to implement the following using list

In [15]:
#A)create a list with integers(minimum 10 numpers)
list =(12,23,34,45,56,67,78,89,90,98,87,76,65,55)
list

(12, 23, 34, 45, 56, 67, 78, 89, 90, 98, 87, 76, 65, 55)

In [16]:
#B)How to display the last number in the list
print(list[-1])

55

In [17]:
#C)Command for displaying the value from the list[0:4]
print(list[0:4])

(12, 23, 34, 45)

In [18]:
#D)Command for displaying the value from the list[2:]
print(list[2:])

(34, 45, 56, 67, 78, 89, 90, 98, 87, 76, 65, 55)

In [19]:
#E)Command for displaying the value from the list[:6]
print(list[:6])

(12, 23, 34, 45, 56, 67)

#  4)Write a Python Program: tuple1=(10,50,20,40,30)

In [20]:
tuple1=(10,50,20,40,30)
print(tuple1)

(10, 50, 20, 40, 30)

In [21]:
#A)To dispaly the elements 10 and 50 from tuple1
tuple1=(10,50,20,40,30)
star = 10
end = 50

In [22]:
#B)To display the length of a tuple1
print(len(tuple1))

5

In [23]:
#C)To find the minimum element from tuple1
print(min(tuple1))

10

In [24]:
#D)To add all elements in the tuple1
print(sum(tuple1))

150

In [25]:
#E)To display the same tuple1 multiple times
print(2*(tuple1))

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

#  5)Write a Python program

In [26]:
s="VEERA CHARAN "
print(s)

VEERA CHARAN

In [28]:
#A)To calculate the length of string
print(len(s))

13

In [29]:
#B)To reverse worde in a string
print(s[::-1])

 NARAHC AREEV

In [83]:
#C)To display the same string multiple times
print (3*s)

VEERA CHARAN VEERA CHARAN VEERA CHARAN

In [86]:
#D)To Concatenate two strings
s= "VEERA CHARAN "
s1= "NARAPURAM "
print(s+s1)

VEERA CHARAN NARAPURAM

In [87]:
#E)Str1=" South India",using string siling to display "India"
Str1= "South India"
print(Str1[6:])

India

# 6) Perform the following

In [90]:
#A)Creating the dictionary
dic ={ 'name':'Veera', 'age':'23', 'city':'Kadapa' }
print(dic)

{'name': 'Veera', 'age': '23', 'city': 'Kadapa'}

In [91]:
#B)Accessing value and keys in the dictionary
print("NAME:", dic['name'])

NAME: Veera

In [ ]:
#C)Updating the dictionary using a function
dic['age'] = 20
print(dic)

In [ ]:
#D)clear and delet the dictionary values
dic.clear()
print(dic)

#Python porgram to insert a number to any position in a list

In [31]:
list=[22,34,42,12,54]
number = 87
position = 3
list.insert(position, number)
print(list)

[22, 34, 42, 87, 12, 54]

# 8)Python program to delete an element from a list by index

In [32]:
index = 5
del list[index]
print(list)

[22, 34, 42, 87, 12]

# 9)write a program to display a number from 1 to 100

In [33]:
for numbers in range(1,100):
    print(numbers)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# 10)write a Python program to find the sum of all items in a tuple

In [34]:
tuple=(21,12,4,6,19)
print(sum(tuple))

62

# 12)A list of words is given . Find the words from the list that have their second character in uppercase

In [37]:
ls=['hello' ,'Dear' ,'hOw' ,'ARe' ,'You' ]
res = [word for word in ls if word[1].isupper()]
print(res)

['hOw', 'ARe']

# Control Structures

# 1)Write a Python program to find the first N Prime number

In [38]:
def is_prime(num):
    if num <= 1:
        return False
    elif num <= 3:
        return True
    elif num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True
def find_first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes
N = int(input("Enter the value of N: "))
if N <= 0:
    print(" positive integer.")
else:
    prime_numbers = find_first_n_primes(N)
    print("The first {N} prime numbers are:")
    print(prime_numbers)

Enter the value of N: 7
The first {N} prime numbers are:
[2, 3, 5, 7, 11, 13, 17]

In [ ]:
#Write a python program to search for a string in the givrn list