# Problem Statement: 
A new car manufacturing company wants to launch cars in different categories and would like 
to have an idea about the price of cars based on cars specifications (in terms of various 
characteristics) available in market.
Task: Develop a suitable model which can help company to predict car prices. 
 
Following points must be included in your analysis:
• EDA analysis (Exploratory Data Analysis):
➢ Need to present complete data review with suitable charts/graphs.
• Data processing steps 
➢ Generic steps and process followed for given dataset)-
For example, if one of the missing value treatments has been applied then we 
would need information on other methods as well with justification as to why 
this method has been applied instead of others. This would be applicable for all 
steps (like multicollinearity, outlier, variable selection etc.) you followed in data 
processing/preparation.
➢ Need justification if any Variable transformation (Bucketing, dummy variable 
creation) has been applied.
➢ Assumption applied, if any.
• Model Building: 
➢ Reason for selecting this model (what are the criteria you considered to finalize 
your model, also provide generic ranges of considered criteria.
➢ Considered model selection criteria, also give information on criteria you have 
not considered but can be considered.
➢ Results of the model using Test and Validation sample.
Submission Details:
1. You are supposed to share python code along with above mentioned details.
2. You are supposed to share test dataset along with predicted prices based upon the 
model built using training dataset. 
3. Perform the Lazzo & Ridge Optimization model.
4. Build the various ensemble model and observe the performance.
5. Prepare a presentation or report summarizing your analysis, results, and recommendations for 
the retail company.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load the dataset
data = pd.read_excel("cars_train.xlsx")
data.head()

,symboling,normalized.losses,make,fuel.type,aspiration,num.of.doors,body.style,drive.wheels,engine.location,wheel.base,...,engine.size,fuel.system,bore,stroke,compression.ratio,horsepower,peak.rpm,city.mpg,highway.mpg,Car_Price
0,1,129.0,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84.0,4800.0,26,32,10595.0
1,1,125.0,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88.0,5000.0,25,32,8189.0
2,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
3,3,194.0,nissan,gas,std,NaN,hatchback,rwd,front,91.3,...,181,mpfi,3.43,3.27,9.0,160.0,5200.0,19,25,17199.0
4,0,85.0,honda,gas,std,four,sedan,fwd,front,96.5,...,110,mpfi,3.15,3.58,9.0,101.0,5800.0,24,28,12945.0

In [2]:
# Summary statistics
print(data.describe())

        symboling  normalized.losses  wheel.base      length       width  \
count  162.000000         132.000000  162.000000  162.000000  162.000000
mean     0.907407         123.060606   98.354321  173.595062   65.843210
std      1.298855          36.144696    6.049384   12.339100    2.022325
min     -2.000000          65.000000   86.600000  141.100000   60.300000
25%      0.000000          94.000000   94.500000  166.425000   64.125000
50%      1.000000         116.500000   96.500000  172.400000   65.450000
75%      2.000000         150.000000  101.200000  181.650000   66.575000
max      3.000000         256.000000  120.900000  208.100000   72.300000

           height  curb.weight  engine.size        bore      stroke  \
count  162.000000   162.000000   162.000000  159.000000  159.000000
mean    53.537654  2561.932099   128.160494    3.341698    3.239434
std      2.346770   524.474870    41.684844    0.274566    0.356446
min     47.800000  1488.000000    61.000000    2.540000    2.070000
25%     52.000000  2151.000000    98.000000    3.150000    3.075000
50%     53.700000  2419.500000   120.000000    3.330000    3.270000
75%     55.500000  2975.750000   146.000000    3.605000    3.460000
max     59.100000  4066.000000   326.000000    3.940000    4.170000

       compression.ratio  horsepower     peak.rpm    city.mpg  highway.mpg  \
count         162.000000  158.000000   158.000000  162.000000   162.000000
mean           10.008704  106.000000  5116.455696   25.123457    30.679012
std             3.735804   41.489773   501.952971    6.604878     6.879309
min             7.000000   48.000000  4150.000000   13.000000    16.000000
25%             8.700000   72.250000  4800.000000   19.000000    25.000000
50%             9.000000   95.000000  5100.000000   24.000000    30.000000
75%             9.400000  121.000000  5500.000000   30.000000    34.000000
max            23.000000  288.000000  6600.000000   49.000000    54.000000

          Car_Price
count    159.000000
mean   13182.094340
std     7746.121309
min     5118.000000
25%     7603.000000
50%    10795.000000
75%    16594.000000
max    41315.000000

In [3]:
# Correlation heatmap
correlation = data.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(correlation, annot=True, cmap="coolwarm")
plt.show()

ValueError: could not convert string to float: 'mazda'

In [4]:
data.isna().sum()

symboling             0
normalized.losses    30
make                  0
fuel.type             0
aspiration            0
num.of.doors         11
body.style            0
drive.wheels          0
engine.location       2
wheel.base            0
length                0
width                 0
height                0
curb.weight           0
engine.type           0
num.of.cylinders      2
engine.size           0
fuel.system           0
bore                  3
stroke                3
compression.ratio     0
horsepower            4
peak.rpm              4
city.mpg              0
highway.mpg           0
Car_Price             3
dtype: int64

In [5]:
data=data.fillna(method='bfill')
data.isna().sum()

symboling            0
normalized.losses    0
make                 0
fuel.type            0
aspiration           0
num.of.doors         0
body.style           0
drive.wheels         0
engine.location      0
wheel.base           0
length               0
width                0
height               0
curb.weight          0
engine.type          0
num.of.cylinders     0
engine.size          0
fuel.system          0
bore                 0
stroke               0
compression.ratio    0
horsepower           0
peak.rpm             0
city.mpg             0
highway.mpg          0
Car_Price            0
dtype: int64

In [6]:
#Label encoder

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['make']=le.fit_transform(data['make'])
data['fuel.type']=le.fit_transform(data['fuel.type'])
data['aspiration']=le.fit_transform(data['aspiration'])
data['num.of.doors']=le.fit_transform(data['num.of.doors'])
data['body.style']=le.fit_transform(data['body.style'])
data['drive.wheels']=le.fit_transform(data['drive.wheels'])
data['drive.wheels']=le.fit_transform(data['drive.wheels'])
data['engine.location']=le.fit_transform(data['engine.location'])
data['engine.type']=le.fit_transform(data['engine.type'])
data['num.of.cylinders']=le.fit_transform(data['num.of.cylinders'])
data['fuel.system']=le.fit_transform(data['fuel.system'])
data.head()

,symboling,normalized.losses,make,fuel.type,aspiration,num.of.doors,body.style,drive.wheels,engine.location,wheel.base,...,engine.size,fuel.system,bore,stroke,compression.ratio,horsepower,peak.rpm,city.mpg,highway.mpg,Car_Price
0,1,129.0,8,1,0,1,2,1,0,98.8,...,122,1,3.39,3.39,8.6,84.0,4800.0,26,32,10595.0
1,1,125.0,10,1,0,0,3,1,0,96.3,...,122,1,3.35,3.46,8.5,88.0,5000.0,25,32,8189.0
2,3,150.0,8,1,0,1,2,2,0,95.3,...,70,2,3.43,3.27,9.4,101.0,6000.0,17,23,13645.0
3,3,194.0,11,1,0,0,2,2,0,91.3,...,181,5,3.43,3.27,9.0,160.0,5200.0,19,25,17199.0
4,0,85.0,5,1,0,0,3,1,0,96.5,...,110,5,3.15,3.58,9.0,101.0,5800.0,24,28,12945.0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Split data into train and test sets
x = data.iloc[:,:-1]
y = data.iloc[:,-1:]
print('X shape:\t',x.shape)
print()
print('Y shape:\t',y.shape)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Build a Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

X shape:	 (162, 25)

Y shape:	 (162, 1)
Mean Squared Error: 11875941.90955873
R-squared: 0.6959005054085612

In [12]:
from sklearn.linear_model import Lasso, Ridge
from sklearn.metrics import mean_squared_error, r2_score

# Create Lasso model
lasso_model = Lasso(alpha=0.01)
lasso_model.fit(X_train, y_train)

# Make predictions with Lasso model
y_pred_lasso = lasso_model.predict(X_test)

# Evaluate the Lasso model
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
r2_lasso = r2_score(y_test, y_pred_lasso)

print("Lasso Model:")
print(f"Mean Squared Error: {mse_lasso}")
print(f"R-squared: {r2_lasso}")

# Create Ridge model
ridge_model = Ridge(alpha=0.01)
ridge_model.fit(X_train, y_train)

# Make predictions with Ridge model
y_pred_ridge = ridge_model.predict(X_test)

# Evaluate the Ridge model
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

print("\nRidge Model:")
print(f"Mean Squared Error: {mse_ridge}")
print(f"R-squared: {r2_ridge}")

C:\ProgramData\anaconda3-1\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.278e+08, tolerance: 8.228e+05
  model = cd_fast.enet_coordinate_descent(

Lasso Model:
Mean Squared Error: 11874507.47646754
R-squared: 0.6959372360006588

Ridge Model:
Mean Squared Error: 11809609.219328772
R-squared: 0.6975990433205381

In [8]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Evaluate the Random Forest model
y_pred_rf = rf_model.predict(X_test)
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)
print(f"Random Forest Mean Squared Error: {mse_rf}")
print(f"Random Forest R-squared: {r2_rf}")

C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest Mean Squared Error: 6171342.71050606
Random Forest R-squared: 0.841974454446857